<div *ngIf="selected">
  <app-band-detail [bandDetail]="selectedBand"></app-band-detail>
 </div>

 <hr />

<div class="container-fluid">
  <div class="row">
      <div class="col">
          <table class="table">
              <caption>Avarage number of members (rounded up): {{calcularPromedioIntegrantes()}}</caption>
              <thead>
                 <tr>
                    <th scope="col" width="10px"><b>#</b></th>
                    <th scope="col">Name</th>
                    <th scope="col">Channel</th>
                    <th scope="col">Seasons</th>
                 </tr>
              </thead>
              <tbody>
                <tr *ngFor="let s of bands">
                  <td>
                    <dd>{{s.id}}</dd>
                  </td>
                  <td>
                    <dd (click)="onSelected(s)">{{s.name}} </dd>
                  </td>
                  <td>
                    <dd>{{s.numberOfMembers}}</dd>
                  </td>
              </tr>
              </tbody>
          </table>
      </div>

  </div>
</div>

